/* monserat */
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
/* comfortaa */
@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
}
/* Roboto */
@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
/* icons */
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/fa-duotone-900.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "icons";
    src: url("../fonts/icons/fa-light-300.ttf") format("truetype");
    font-weight: 300;
}
